body{
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    grid-template-areas:
      "big big -small-1"
      "big big -small-2"
      "-long-1 -long-2 -long-3"
      "-long-1 -long-2 -long-3";
  }
  
  .-small-1 { 
    grid-area: -small-1;
 }
  
  .-small-2 { grid-area: -small-2; }
  
  .-long-1 { grid-area: -long-1; }
  
  .-long-2 { grid-area: -long-2; }
  
  .-long-3 { grid-area: -long-3; }
  
  .big {
    grid-area: big;
    height: 774px;
}
section {
    background-color: white;
}
.block-1 {
    width: 1440px;
    margin: 0 auto;
}
.block-2 {
    width: 1440px;
    margin: 0 auto;
    background-color: black;
}
img {
    width: 100%;
    height: 100%;
}
.grid-container > div {
    opacity: 0.7;
}
.grid-container > div:hover {
    opacity: 1;
}
.grid-container2 > div {
    opacity: 0.5;
}
.grid-container2 > div:hover {
    opacity: 1;
}
#main {
    padding: 40px 0;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "list-1 list-2 list-3 list-4"
      "list-5 list-6 list-7 list-8";
  }
  .list-1 { grid-area: list-1; }
  .list-2 { grid-area: list-2; }
  .list-3 { grid-area: list-3; }
  .list-4 { grid-area: list-4; }
  .list-5 { grid-area: list-5; }
  .list-6 { grid-area: list-6; }
  .list-7 { grid-area: list-7; }
  .list-8 { grid-area: list-8; }